body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.resume {
    max-width: 800px;
    margin: 30px auto;
    padding: 20px;
    background-color: #f0f0f0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    animation: fadeIn 1ms ease-in-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

header {
    text-align: center;
    animation: rainbowText 3s infinite;
}

@keyframes rainbowText {
    0% {
        color: #00bfff;
    }

    25% {
        color: #ff9900;
    }

    50% {
        color: #33cc33;
    }

    75% {
        color: #36ff33;
    }

    100% {
        color: #ff00ff;
    }
}

h1 {
    margin: 0;
}

p {
    margin: 5px 0;
}

.contact,
.education,
.skills,
.projects,
.achievements {
    margin-top: 20px;
}

.skills ul {
    list-style-type: none;
    padding: 0;
}

.skills li {
    display: inline-block;
    margin-right: 10px;
    animation: bounceIn 0.5s ease-in-out;
}

@keyframes bounceIn {

    0%,
    20%,
    50%,
    80%,
    100% {
        transform: translateY(0);
    }

    40% {
        transform: translateY(-20px);
    }

    60% {
        transform: translateY(-10px);
    }
}

.projects p,
.achievements p {
    margin-bottom: 10px;
}

.contact li {
    display: inline-block;
    margin-right: 10px;

}